# 챗봇으로 관계를 아웃풋 받는 학습을 해보자!
input 양식
sub / obj

아웃풋 양식
label

뒤에는 라벨 숫자

In [4]:
import pandas as pd

vanila_dataset = pd.read_csv("train_dataset_modified_1-3special_char_11.csv", encoding='utf-8')

In [5]:
vanila_dataset

,Unnamed: 0,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,0,Something 는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 Abbey Ro...,비틀즈,조지 해리슨,ORG,PER,no_relation,"[24, 26]","[13, 18]"
1,1,1,호남이 기반인 바른미래당 대안신당 민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,민주평화당,대안신당,ORG,ORG,no_relation,"[19, 23]","[14, 17]"
2,2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,광주FC,한국프로축구연맹,ORG,ORG,org:member_of,"[21, 24]","[34, 41]"
3,3,3,균일가 생활용품점 아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪고 있...,아성다이소,박정부,ORG,PER,org:top_members/employees,"[13, 17]","[22, 24]"
4,4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,요미우리 자이언츠,1967,ORG,DAT,no_relation,"[22, 30]","[0, 3]"
...,...,...,...,...,...,...,...,...,...,...
32418,32418,32418,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,유기준,부산 서구 동구,PER,LOC,per:employee_of,"[93, 95]","[100, 107]"
32419,32419,32419,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...",최시형,손병희,PER,PER,per:colleagues,"[7, 9]","[17, 19]"
32420,32420,32420,"완도군(군수 신우철)이 국토교통부에서 실시한 ""2019 교통문화지수 실태조사""에서 ...",완도군,신우철,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
32421,32421,32421,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...",JTBC,중앙홀딩스,ORG,ORG,no_relation,"[6, 9]","[21, 25]"
32422,32422,32422,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,화순군,구충곤,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"

In [14]:
chatbot_dataset = pd.DataFrame()
chatbot_dataset['Q'] = vanila_dataset['subject_entity'] + ' / ' + vanila_dataset['object_entity']
chatbot_dataset['A'] = vanila_dataset['label']
chatbot_dataset['label'] = int()

In [10]:
import pickle
with open('/opt/ml/dict_label_to_num.pkl', 'rb') as f:
	data = pickle.load(f)

In [17]:
for i in range(len(vanila_dataset)) :
    label = vanila_dataset['label'][i]
    chatbot_dataset['label'][i] = data[f'{label}']

<ipython-input-17-0f6f1f4aeac2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chatbot_dataset['label'][i] = data[f'{label}']

In [18]:
chatbot_dataset

                      Q                          A  label
0          비틀즈 / 조지 해리슨                no_relation      0
1          민주평화당 / 대안신당                no_relation      0
2       광주FC / 한국프로축구연맹              org:member_of     20
3           아성다이소 / 박정부  org:top_members/employees      1
4      요미우리 자이언츠 / 1967                no_relation      0
...                 ...                        ...    ...
32418    유기준 / 부산 서구 동구            per:employee_of      6
32419         최시형 / 손병희             per:colleagues     14
32420         완도군 / 신우철  org:top_members/employees      1
32421      JTBC / 중앙홀딩스                no_relation      0
32422         화순군 / 구충곤  org:top_members/employees      1

[32423 rows x 3 columns]

In [19]:
chatbot_dataset.to_csv("klue_chatbot.csv", encoding = 'utf-8')

In [32]:
type(chatbot_dataset["label"][0])

numpy.int64

In [12]:
data['no_relation']

0

In [20]:
origin_chatbot_data = pd.read_csv("/opt/ml/KoGPT2-chatbot/Chatbot_data/ChatbotData.csv", encoding="utf-8")
origin_chatbot_data

                             Q                         A  label
0                       12시 땡!                하루가 또 가네요.      0
1                  1지망 학교 떨어졌어                 위로해 드립니다.      0
2                 3박4일 놀러가고 싶다               여행은 언제나 좋죠.      0
3              3박4일 정도 놀러가고 싶다               여행은 언제나 좋죠.      0
4                      PPL 심하네                눈살이 찌푸려지죠.      0
...                        ...                       ...    ...
11818           훔쳐보는 것도 눈치 보임.        티가 나니까 눈치가 보이는 거죠!      2
11819           훔쳐보는 것도 눈치 보임.             훔쳐보는 거 티나나봐요.      2
11820              흑기사 해주는 짝남.                    설렜겠어요.      2
11821  힘든 연애 좋은 연애라는게 무슨 차이일까?  잘 헤어질 수 있는 사이 여부인 거 같아요.      2
11822               힘들어서 결혼할까봐        도피성 결혼은 하지 않길 바라요.      2

[11823 rows x 3 columns]

In [33]:
type(origin_chatbot_data["label"][0])

numpy.int64