In [13]:
import pandas as pd
pd.set_option('mode.chained_assignment',  None)
kogpt_dataset_1_1 = pd.read_csv("/opt/ml/dataset/train/kogpt_train_ing.csv", index_col = 0, encoding='utf-8')
kogpt_dataset_1_1

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,"〈Something〉는 조지 해리슨이 쓰고 비틀즈가 녹음한 노래다. 노래는 피터, ...",비틀즈,조지 해리슨,ORG,PER,no_relation,"[24, 26]","[13, 18]"
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 4·15 총선을 앞두고 통합을 추진하...,민주평화당,대안신당,ORG,ORG,no_relation,"[19, 23]","[14, 17]"
2,2,"K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹에 ""구...",광주FC,한국프로축구연맹,ORG,ORG,org:member_of,"[21, 24]","[34, 41]"
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)가 23일 지구의 날을 맞아 다양한 ...,아성다이소,박정부,ORG,PER,org:top_members/employees,"[13, 17]","[22, 24]"
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에 입단하여 프로 생활을 시...,요미우리 자이언츠,1967,ORG,DAT,no_relation,"[22, 30]","[0, 3]"
...,...,...,...,...,...,...,...,...,...
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,유기준,부산 서구·동구,PER,LOC,per:employee_of,"[93, 95]","[100, 107]"
32466,32466,"법포는 다시 최시형, 서병학, 손병희 등으로 이어져 1905년 1월 사상 최초의 정...",최시형,손병희,PER,PER,per:colleagues,"[7, 9]","[17, 19]"
32467,32467,완도군(군수 신우철)은 지난 6일 완도군청 상황실에서 「완도자연그대로 농・축산업」 ...,완도군,신우철,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
32468,32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장으로 재직하며 '중앙일보-JTB...",JTBC,중앙홀딩스,ORG,ORG,no_relation,"[6, 9]","[21, 25]"
32469,32469,화순군(군수 구충곤)이 제19회 환경의 날(6월 5일)을 기념해 17일부터 25일까...,화순군,구충곤,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"

In [14]:
vanila_dataset = pd.read_csv("/opt/ml/dataset/train/train.csv", index_col = 0, encoding = 'utf-8')
vanila_dataset.reset_index(drop=False, inplace=True)

data= vanila_dataset
        
sub_entity, sub_type= [], []
obj_entity, obj_type= [], []
sub_idx, obj_idx= [], []
sentence= []

"""preprocess"""
for i, [x, y, z] in enumerate(zip(data['subject_entity'], data['object_entity'], data['sentence'])):
    sub_typ= x[1:-1].split(':')[-1].split('\'')[-2]
    obj_typ= y[1:-1].split(':')[-1].split('\'')[-2]
            
    for idx_i in range(len(x)):
        if x[idx_i: idx_i+ 9]== 'start_idx':
            sub_start= int(x[idx_i+12:].split(',')[0].strip())
        if x[idx_i: idx_i+7]== 'end_idx':
            sub_end= int(x[idx_i+10:].split(',')[0].strip())
                
        if y[idx_i: idx_i+ 9]== 'start_idx':
            obj_start= int(y[idx_i+12:].split(',')[0].strip())
        if y[idx_i: idx_i+7]== 'end_idx':
            obj_end= int(y[idx_i+10:].split(',')[0].strip())
            
    sub_i= [sub_start, sub_end]
    obj_i= [obj_start, obj_end]

    sub_entity.append(z[sub_i[0]: sub_i[1]+1])
    obj_entity.append(z[obj_i[0]: obj_i[1]+1])
    sub_type.append(sub_typ); sub_idx.append(sub_i)
    obj_type.append(obj_typ); obj_idx.append(obj_i)
    
    z = z[min(sub_i[0],obj_i[0]) : max(sub_i[1],obj_i[1])+1]
    sentence.append(z)

vanila_dataset = pd.DataFrame({'id': data['id'], 'sentence' : sentence, 'subject_entity': sub_entity, 'object_entity': obj_entity,
                        'subject_type': sub_type, 'object_type': obj_type, 'label': data['label'],
                        'subject_idx': sub_idx, 'object_idx': obj_idx})

vanila_dataset

,id,sentence,subject_entity,object_entity,subject_type,object_type,label,subject_idx,object_idx
0,0,조지 해리슨이 쓰고 비틀즈,비틀즈,조지 해리슨,ORG,PER,no_relation,"[24, 26]","[13, 18]"
1,1,대안신당·민주평화당,민주평화당,대안신당,ORG,ORG,no_relation,"[19, 23]","[14, 17]"
2,2,광주FC는 지난 26일 한국프로축구연맹,광주FC,한국프로축구연맹,ORG,ORG,org:member_of,"[21, 24]","[34, 41]"
3,3,아성다이소(대표 박정부,아성다이소,박정부,ORG,PER,org:top_members/employees,"[13, 17]","[22, 24]"
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠,요미우리 자이언츠,1967,ORG,DAT,no_relation,"[22, 30]","[0, 3]"
...,...,...,...,...,...,...,...,...,...
32465,32465,유기준(4선·부산 서구·동구,유기준,부산 서구·동구,PER,LOC,per:employee_of,"[93, 95]","[100, 107]"
32466,32466,"최시형, 서병학, 손병희",최시형,손병희,PER,PER,per:colleagues,"[7, 9]","[17, 19]"
32467,32467,완도군(군수 신우철,완도군,신우철,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"
32468,32468,JTBC 회장을 지낸 이후 중앙홀딩스,JTBC,중앙홀딩스,ORG,ORG,no_relation,"[6, 9]","[21, 25]"
32469,32469,화순군(군수 구충곤,화순군,구충곤,ORG,PER,org:top_members/employees,"[0, 2]","[7, 9]"

In [15]:
mod_list = []
for i in range(len(vanila_dataset)) :
    if vanila_dataset['sentence'][i] not in kogpt_dataset_1_1['sentence'][i] :
        # kogpt_dataset_1_1['sentence'][i] = vanila_dataset['sentence'][i]
        mod_list.append(i)
print(mod_list)

[1963, 2379, 3274, 3508, 4812, 4815, 4839, 4883, 4890, 4894, 4895, 4899, 4952, 4960, 4974, 4977, 4984, 5001, 5003, 5020, 5041, 5066, 5076, 5092, 5123, 5133, 5163, 5175, 5182, 5183, 5222, 5264, 5317, 5326, 5327, 5329, 5344, 5354, 5356, 5369, 5380, 5383, 5390, 5401, 5421, 5423, 5494, 5511, 5533, 5541, 5548, 5556, 5577, 5604, 5650, 5663, 5771, 5804, 5863, 5864, 5873, 5884, 5972, 5974, 5989, 5993, 5995, 6012, 6046, 6089, 6125, 6137, 6146, 6178, 6183, 6191, 6207, 6246, 6247, 6303, 6312, 6320, 6332, 6334, 6350, 6352, 6356, 6358, 6393, 6395, 6399, 6423, 6453, 6533, 6534, 6539, 6540, 6567, 6623, 6656, 6663, 6671, 6682, 6701, 6709, 6728, 6752, 6763, 6769, 6774, 6776, 6783, 6802, 6819, 6825, 6839, 6851, 6858, 6864, 6871, 6879, 6880, 6895, 6923, 6939, 6941, 6973, 7080, 7116, 7138, 7145, 7155, 7194, 7212, 7226, 7280, 7296, 7304, 7307, 7318, 7323, 7327, 7331, 7355, 7367, 7398, 7408, 7411, 7414, 7441, 7449, 7452, 7483, 7519, 7520, 7523, 7526, 7530, 7558, 7564, 7568, 7573, 7582, 7591, 7600, 7603, 7612, 7622, 7623, 7626, 7629, 7673, 7727, 7728, 7781, 7784, 7793, 7799, 7800, 7852, 7873, 7901, 7927, 7941, 7952, 7979, 7990, 8055, 8058, 8073, 8078, 8084, 8087, 8094, 8128, 8169, 8227, 8231, 8265, 8330, 8374, 8413, 8491, 8497, 8502, 8516, 8521, 8580, 8583, 8599, 8617, 8625, 8639, 8661, 8662, 8671, 8703, 8726, 8775, 8780, 8783, 8795, 8797, 8815, 8836, 8845, 8868, 8930, 8943, 8954, 8962, 8974, 9018, 9032, 9037, 9043, 9048, 9057, 9062, 9070, 9087, 9097, 9114, 9124, 9128, 9137, 9138, 9165, 9177, 9182, 9218, 9228, 9270, 9318, 9384, 9386, 9387, 9399, 9434, 9439, 9450, 9482, 9486, 9504, 9511, 9537, 9538, 9547, 9548, 9564, 9570, 9589, 9656, 9731, 9742, 9754, 9779, 9804, 9842, 9846, 9850, 9870, 9885, 9902, 9911, 9914, 9947, 9985, 10015, 10027, 10040, 10045, 10047, 10065, 10074, 10083, 10085, 10090, 10118, 10152, 10188, 10200, 10255, 10270, 10288, 10302, 10335, 10351, 10405, 10425, 10472, 10478, 10480, 10483, 10516, 10524, 10531, 10577, 10587, 10628, 10637, 10694, 10695, 10698, 10702, 10706, 10715, 10809, 10814, 10816, 10820, 10825, 10851, 10853, 10906, 10929, 10996, 11033, 11037, 11039, 11067, 11116, 11137, 11163, 11166, 11180, 11210, 11238, 11276, 11308, 11315, 11317, 11330, 11344, 11366, 11378, 11382, 11388, 11389, 11397, 11407, 11470, 11474, 11486, 11498, 11501, 11531, 11556, 11563, 11569, 11598, 11624, 11649, 11664, 11667, 11669, 11674, 11679, 11686, 11699, 11714, 11778, 11827, 11840, 11858, 11861, 11878, 11885, 11887, 11927, 11938, 11946, 11947, 11957, 12000, 12021, 12023, 12025, 12047, 12108, 12109, 12115, 12152, 12169, 12185, 12192, 12202, 12205, 12221, 12271, 12294, 12317, 12325, 12344, 12364, 12384, 12416, 12444, 12451, 12474, 12495, 12517, 12569, 12578, 12597, 12605, 12621, 12627, 12635, 12636, 12637, 12641, 12652, 12679, 12693, 12717, 12739, 12742, 12749, 12752, 12757, 12758, 12795, 12818, 12862, 12867, 12879, 12915, 12937, 12962, 12994, 13011, 13035, 13045, 13054, 13060, 13123, 13137, 13170, 13171, 13177, 13179, 13180, 13189, 13198, 13203, 13222, 13228, 13230, 13239, 13241, 13280, 13313, 13315, 13322, 13333, 13438, 13502, 13524, 13572, 13602, 13642, 13671, 13675, 13685, 13693, 13701, 13747, 13759, 13762, 13842, 13856, 13877, 13887, 13890, 13916, 13919, 13955, 13984, 14005, 14090, 14120, 14133, 14147, 14174, 14186, 14202, 14222, 14268, 14292, 14308, 14318, 14336, 14342, 14351, 14376, 14404, 14422, 14436, 14444, 14458, 14470, 14477, 14478, 14529, 14534, 14553, 14564, 14593, 14602, 14610, 14626, 14631, 14638, 14681, 14704, 14714, 14717, 14732, 14733, 14741, 14775, 14794, 14831, 14833, 14856, 14900, 14929, 14956, 14968, 14976, 14986, 14992, 14996, 15005, 15018, 15055, 15097, 15102, 15115, 15117, 15166, 15174, 15186, 15197, 15213, 15245, 15264, 15285, 15286, 15354, 15387, 15429, 15453, 15501, 15510, 15533, 15540, 15544, 15561, 15609, 15652, 15682, 15721, 15723, 15742, 15750, 15753, 15773, 15775, 15802, 15807, 15812, 15840, 15937, 15938, 15945, 15949, 15962, 15970, 16000, 16029, 16036, 16083, 16122, 16124, 16139, 16140, 16169, 16246, 16267, 16299, 16311, 16325, 16327, 16335, 16350, 16369, 16379, 16382, 16388, 16439, 16457, 16538, 16579, 16599, 16605, 16612, 16614, 16621, 16625, 16659, 16680, 16765, 16767, 16769, 16786, 16833, 16843, 16852, 16854, 16857, 16898, 16903, 16912, 16923, 16931, 17002, 17039, 17048, 17059, 17061, 17068, 17079, 17083, 17104, 17148, 17195, 17208, 17242, 17252, 17273, 17294, 17303, 17328, 17330, 17380, 17397, 17405, 17425, 17450, 17483, 17485, 17488, 17499, 17515, 17544, 17547, 17557, 17562, 17577, 17593, 17633, 17637, 17670, 17775, 17777, 17784, 17829, 17833, 17844, 17944, 17958, 17963, 17965, 17981, 18027, 18034, 18037, 18081, 18087, 18184, 18185, 18193, 18207, 18217, 18225, 18264, 18272, 18279, 18281, 18285, 18305, 18320, 18343, 18374, 18396, 18400, 18459, 18470, 18483, 18487, 18498, 18519, 18520, 18533, 18535, 18575, 18624, 18627, 18637, 18657, 18680, 18685, 18767, 18795, 18804, 18806, 18834, 18848, 18850, 18875, 18908, 18909, 18927, 18935, 18952, 18953, 18978, 19003, 19009, 19015, 19063, 19095, 19115, 19118, 19125, 19137, 19142, 19144, 19166, 19174, 19176, 19217, 19234, 19243, 19248, 19260, 19271, 19287, 19304, 19323, 19377, 19398, 19404, 19414, 19417, 19426, 19438, 19462, 19486, 19492, 19495, 19516, 19534, 19574, 19578, 19617, 19618, 19627, 19633, 19674, 19682, 19702, 19709, 19720, 19753, 19765, 19766, 19769, 19785, 19795, 19799, 19822, 19837, 19859, 19880, 19882, 19953, 19966, 19994, 20005, 20039, 20069, 20074, 20086, 20145, 20195, 20249, 20250, 20256, 20283, 20293, 20299, 20302, 20303, 20359, 20363, 20367, 20398, 20433, 20447, 20450, 20456, 20464, 20485, 20495, 20518, 20519, 20560, 20562, 20563, 20576, 20587, 20635, 20664, 20716, 20719, 20730, 20762, 20763, 20775, 20779, 20791, 20792, 20800, 20825, 20828, 20839, 20903, 20952, 20982, 20998, 21005, 21012, 21018, 21042, 21077, 21079, 21096, 21098, 21105, 21124, 21136, 21171, 21182, 21202, 21203, 21211, 21217, 21243, 21255, 21305, 21321, 21326, 21349, 21355, 21365, 21375, 21389, 21410, 21442, 21449, 21475, 21481, 21521, 21523, 21537, 21543, 21606, 21607, 21633, 21662, 21696, 21736, 21769, 21777, 21783, 21821, 21825, 21830, 21832, 21845, 21851, 21854, 21859, 21901, 21951, 21987, 21989, 22037, 22044, 22060, 22061, 22140, 22179, 22208, 22211, 22243, 22245, 22263, 22265, 22284, 22317, 22328, 22333, 22341, 22354, 22365, 22457, 22486, 22501, 22557, 22586, 22592, 22637, 22644, 22652, 22680, 22724, 22742, 22750, 22763, 22790, 22842, 22853, 22871, 22875, 22903, 22936, 22938, 22940, 22984, 22988, 23042, 23104, 23111, 23116, 23128, 23133, 23167, 23178, 23217, 23262, 23271, 23277, 23282, 23320, 23322, 23329, 23348, 23418, 23434, 23443, 23478, 23487, 23497, 23533, 23538, 23548, 23576, 23594, 23598, 23612, 23686, 23709, 23710, 23751, 23761, 23769, 23772, 23836, 23868, 23897, 23931, 23950, 23954, 23966, 24003, 24007, 24013, 24017, 24040, 24052, 24056, 24078, 24125, 24127, 24174, 24176, 24178, 24181, 24221, 24261, 24263, 24294, 24303, 24322, 24326, 24335, 24344, 24359, 24360, 24367, 24388, 24427, 24445, 24457, 24477, 24483, 24487, 24496, 24554, 24607, 24611, 24682, 24703, 24733, 24748, 24777, 24805, 24865, 24867, 24871, 24977, 24989, 24993, 25012, 25037, 25040, 25048, 25056, 25067, 25089, 25096, 25115, 25125, 25146, 25156, 25158, 25159, 25204, 25232, 25244, 25249, 25250, 25253, 25277, 25285, 25355, 25371, 25373, 25387, 25411, 25421, 25428, 25440, 25482, 25497, 25526, 25527, 25544, 25564, 25567, 25575, 25602, 25609, 25672, 25673, 25676, 25685, 25690, 25693, 25704, 25718, 25724, 25768, 25788, 25795, 25811, 25819, 25831, 25836, 25849, 25930, 25936, 25941, 25960, 26038, 26045, 26046, 26056, 26069, 26074, 26089, 26109, 26175, 26213, 26225, 26239, 26241, 26267, 26280, 26304, 26336, 26338, 26339, 26377, 26379, 26398, 26403, 26428, 26430, 26433, 26471, 26482, 26494, 26516, 26543, 26560, 26562, 26563, 26568, 26597, 26621, 26665, 26679, 26726, 26727, 26742, 26760, 26771, 26819, 26822, 26835, 26856, 26857, 26863, 26886, 26906, 26959, 26969, 27013, 27070, 27122, 27134, 27150, 27165, 27216, 27241, 27253, 27254, 27278, 27279, 27304, 27311, 27327, 27339, 27428, 27484, 27506, 27534, 27545, 27560, 27561, 27562, 27580, 27587, 27625, 27628, 27651, 27684, 27732, 27773, 27783, 27795, 27825, 27829, 27834, 27876, 27880, 27882, 27923, 27941, 27953, 27971, 27999, 28016, 28051, 28076, 28093, 28094, 28098, 28104, 28107, 28108, 28111, 28165, 28192, 28196, 28197, 28232, 28259, 28263, 28275, 28276, 28286, 28290, 28300, 28330, 28348, 28397, 28408, 28451, 28452, 28465, 28513, 28540, 28544, 28589, 28639, 28647, 28672, 28677, 28680, 28704, 28737, 28739, 28746, 28809, 28849, 28871, 28885, 28891, 28895, 28911, 28919, 28950, 28957, 28968, 28971, 28993, 29000, 29006, 29034, 29038, 29063, 29077, 29109, 29118, 29119, 29120, 29126, 29133, 29193, 29203, 29237, 29243, 29257, 29306, 29309, 29344, 29349, 29373, 29382, 29411, 29421, 29449, 29474, 29514, 29558, 29561, 29575, 29579, 29588, 29607, 29610, 29623, 29627, 29668, 29676, 29695, 29702, 29747, 29749, 29756, 29758, 29789, 29821, 29823, 29868, 29878, 29886, 29893, 29900, 29911, 29920, 29928, 29941, 29946, 29964, 29966, 29973, 29978, 30010, 30023, 30041, 30050, 30068, 30082, 30121, 30139, 30144, 30146, 30163, 30182, 30227, 30230, 30290, 30309, 30410, 30448, 30498, 30561, 30576, 30577, 30609, 30638, 30673, 30680, 30709, 30711, 30728, 30730, 30768, 30778, 30781, 30862, 30890, 30909, 30954, 31032, 31047, 31115, 31134, 31139, 31157, 31166, 31241, 31251, 31275, 31289, 31326, 31361, 31376, 31395, 31415, 31423, 31438, 31441, 31445, 31490, 31495, 31512, 31518, 31539, 31554, 31570, 31580, 31620, 31639, 31650, 31656, 31708, 31759, 31769, 31773, 31831, 31855, 31894, 31898, 31901, 31948, 31953, 31981, 32003, 32017, 32094, 32107, 32154, 32210, 32214, 32367, 32394, 32403, 32406, 32412, 32431, 32439]

In [16]:
print(kogpt_dataset_1_1['subject_entity'][31898])
print(kogpt_dataset_1_1['object_entity'][31898])
print(kogpt_dataset_1_1['sentence'][31898])
print(vanila_dataset['sentence'][31898])

레알 마드리드
라리가
2012년 3월 31일, 그는 오사수나와의 경기에서 자신의 100번째 레알 마드리드 골을 기록했고, 한 골 더 넣어 라리가 역대 최다 골 기록을 경신하게 되었다. 이 골은 100골을 기록한 후 레알 마드리드의 홈인 산티아고 베르나베
라리가 2011-12 시즌에 레알 마드리드

In [17]:
#-*- encoding: utf-8 -*-
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM
from tqdm.notebook import tqdm

tokenizer = AutoTokenizer.from_pretrained('kakaobrain/kogpt', revision='KoGPT6B-ryan1.5b-float16',
                                          bos_token='[BOS]', eos_token='[EOS]', unk_token='[UNK]', pad_token='[PAD]', mask_token='[MASK]')
model = AutoModelForCausalLM.from_pretrained('kakaobrain/kogpt', revision='KoGPT6B-ryan1.5b-float16',pad_token_id=tokenizer.eos_token_id,
    torch_dtype='auto', low_cpu_mem_usage=True).to(device='cuda', non_blocking=True)

_ = model.eval()

for i in tqdm(mod_list):
    prompt = vanila_dataset['sentence'][i]
    with torch.no_grad():
        tokens = tokenizer.encode(prompt, return_tensors='pt').to(device='cuda', non_blocking=True)
        gen_tokens = model.generate(tokens ,do_sample=True, temperature=0.8, max_length = 128)
        generated = tokenizer.batch_decode(gen_tokens)[0]

    kogpt_dataset_1_1['sentence'][i] = generated
    kogpt_dataset_1_1.to_csv("/opt/ml/dataset/train/kogpt_train_ing.csv", encoding = 'utf-8')

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=1429.0), HTML(value='')))

Input length of input_ids is 137, but ``max_length`` is set to 128. This can lead to unexpected behavior. You should consider increasing ``config.max_length`` or ``max_length``.